h1{
    font-size: 30pt;
    font-family: 'Montez', cursive;
    font-weight: bolder;
    color: #ffffff;
}
h2{
    font-size: 30pt;
    font-family: 'Montez', cursive; 
    font-weight: bolder;
}

body{

    background-image: url(../images/light-grey.png);

}

nav a{
    float:right;
    position: relative;
    right:233px;
    top:45px;
    text-decoration: none;
    color: #666666;
    border-left: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    
}

nav a:last-child{
    border-left: 0px none;

}




.name-box{
    float: left;
    background-color:#4aaaa5;
    width: 220px;
    padding: 20px;
    margin-left: 233px;
    text-decoration: none;
    


}

.header{
    background-color: #ffffff;
    height: 80px;
    border-style:solid;
    border-bottom: 3px solid #cccccc;

}

#about-me-heading{
    color:#4aaaa5;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #dddddd;
    margin-bottom: 20px;
}

.main-section{
    
    margin: auto;
    background: #ffffff;
    margin-top:30px;
    padding: 20px;
    width:920px;
    color: #777777;
    height: 300px;
    border:2px solid #dddddd;


}

.main-photo{
    height: 200px;
    float:left;


}

.about-me-text{
    
    font-size: 14pt;
    line-height: 30pt;
    padding-left: 220px;

}


.copyright-text{
   text-align: center;
   padding-top: 30px;
   color:  #ffffff;
  
}
footer{
    
    display: block;
    background: #666666;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}